/*CONTENT*/

body {
    font-family: 'Poppins', sans-serif;
    color: #716f70;
    margin: 0;
}

p {
    font-size: 12px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #8b8a8b;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    margin: 0;
}

h4 {
    font-family: cursive;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 2px;
}

hr {
    border: 0;
    background: #ededed;
    height: 1px;
    width: 80%;
}

a {
    text-decoration: none;
}
a h2:hover {
    color: #86214d;
}

/*HEADER*/

.header-nav {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 2.2cm;
    padding: 10px 0;
}

#logo {
    position: relative;
    color: #323233;
    margin: auto;
    width: 80%;
    font-size: 36px;
    font-weight: bold;
    margin-left: 1cm;
    cursor: pointer;
}

#logo img {
    position: relative;
    width: 30px;
    height: 22px;
    top: -10px;
    left: -12px;
}

.right-nav {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
    margin: auto;
    margin-right: 1cm;
}

.icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
    padding: 10px;
}

#menu {
    width: 20px;
    width: 20px;
}

/*BANNER*/
#banner {
    width: 100%;
    color: #f8f7f7;
    display: flex;
    position: relative;
    justify-content: center;
}

#connect {
    background-color: #86214d;
    padding: 4cm 1cm;
    width: 10%;
}

#social-media {
    list-style: none;
    padding: 0;
}

#social-media li {
    background-color: white;
    opacity: 0.4;
    color: #9a2b5c;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid #9a2b5c;
    border-radius: 25px;
    padding: 5px;
    margin: 20px 0;
}

#social-media li:hover {
    border: 1px solid #f8f7f7;
    opacity: 0.7;
    cursor: pointer;
}


#tagline {
    background-color: #86214d;
    padding: 3cm 1cm;
    width: 30%;
}

#tagline h2 {
    color: white;
    font-size: 14px;
}

#tagline button {
    border: none;
    border-bottom: 1px solid #86214d;
    background-color: #86214d;
    color: white;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 5px;
    letter-spacing: 2px;
    cursor: pointer;
}

#tagline button:hover {
    border-bottom:1px solid #f8f7f7;
}

#side {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 50%;
    background-color: #f8f7f7;
    color: #e7d7de;
    align-items: flex-end;
    overflow: hidden;
}

#side img {
    position: absolute;
    /* top: -140px; */
    left: -35px;
}

img#polish {
    position: absolute;
    top: 400px;
    right: 105px;
}

#side h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 275px;
    margin: 0;
    position: absolute;
    top: 300px;
    left: 260px;
}

/*FLEX .CONTAINER.ROW.COL*/

.container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}

.col2 {
    width: 25%;
    margin: 100px 0;
}

.col3 {
    padding: 5px;
    max-width: 200px;
    text-align: center;
}

/*ABOUT US*/

#video{
    position: relative;
    width: 400px;
    height: 250px;
    background-color:#e1e1e1;
    box-shadow: 2px 2px 10px 1px #e0dee0e3;
    margin-left: 10px;
}

#video img {
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -35px;
    cursor: pointer;
}

#profile {
    text-align: right;
    max-width: 210px;
    margin-left: 50px;
    margin-top: 140px;
}

#signature {
    color: #86214d;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 24px;
}

.intro-video {
    font-size: 100px;
    font-family: "Poppins";
    font-weight: bold;
    color: #efefef;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: -5px;
    top: 120px;
}
.intro-video.line2 {
    color: #f3e8ed;
    top: 250px;
    font-size: 60px;
}
  

/*SERVICES*/

.section-intro {
    text-align: center;
    width: 100%;
    padding-top: 60px;
}

.section-intro h3 {
    font-size: 36px;
}

#booking {
    display: inline-flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 30px 100px;
}

.icon-2 {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px solid white;
    cursor: pointer;
}

.icon-2:hover {
    border: 2px solid #f8f7f7;
    border-radius: 50px;
}

.service-btn {
    background-color: white;
    color: #716f70;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 10px;
    border: 1px solid #d7d7d7;
    cursor: pointer;
}

.service-btn:hover {
    color: #f8f7f7;
    background-color: #86214d;
}

/*RECENT WORKS*/

.beauty {
    position: absolute;
    font-size: 350px;
    color: #e7d7de69;
    top: -225px;
    left: -730px;
}
.beauty.bottom {
    top: 465px;
    left: 685px;
}

#recent-work {
    background-color: #f8f7f7;
    overflow: hidden;
}

.promo-nav {
    list-style: none;
    display: inline-flex;
    position: relative;
    padding: 0;
}

.promo-nav li {
    margin: 10px;
}

.promo-nav li h2:hover {
    color: #86214d;
}

.work img{
    transition: transform 0.5s;
}

.work img:hover {
    box-shadow: 5px 5px 0px 0px #86214d;
    transform: scale(1.02);
}

#link-left {
    justify-content: left;
    max-width: 600px;
    margin: 10px;
}

/*BOOKING*/

.side {
    border: 3px solid #86214d;
    margin: 30px 0;
    padding: 20px;
    width: 150px;
    opacity: 0.9;
    text-align: left;
}

.middle {
    box-shadow: 2px 2px 5px 2px grey;
    padding: 30px;
    max-width: 500px;
}

#calendar {
    padding-top: 60px;
}

#calendar h1 {
    font-size: 36px;
    margin-top: 10px;
}

#calendar p {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
}

#schedule {
    border-right: none;
}

#prices {
    border-left: none;
    color: white;
    background-color: #86214d;
}

#prices h4 {
    margin-right: 30px;
}

#prices p span {
    margin-left: 80px;
}

.calendar thead {
    font-size: 12px;
    color: #86214d;
}

.calendar tbody td {
    border: 2px solid white;
    border-radius: 25px;
    padding: 10px;
    font-size: 10px;
    width: 16px;
}

.calendar tbody td:hover {
    border: 2px solid #ededed;
    color: #86214d;
}

/*TEAM PROFILES*/

#team {
    background-color: #f5f4f4;
}

#profiles ul {
    justify-content: center;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
}
#profiles ul li {
    background-color: white;
    text-align: center;
    width: 250px;
    height: 325px;
    margin: 5px;
    transition: transform 0.5s;
}
#profiles ul li:hover {
    box-shadow: 5px 5px 0px 0px #86214d;
    transform: scale(1.02);
}
#profiles ul li img {
    border: 1px solid #f5f4f4;
    background-color: #f5f4f4;
    border-radius: 85px;
    padding: 20px;
    margin: 20px;
}
#profiles ul li img:hover {
    opacity: 0.5;
    cursor: pointer;
}


/*RESPONSIVE STYLES*/

@media screen and (max-width: 1430px) {
    img#polish {
        display: none;
    }
}
@media screen and (max-width: 800px) {
    #banner {
        flex-wrap: wrap;
    }
    #connect {
        display: inline-flex;
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    #social-media {
        display: inline-flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    #social-media li{
         margin: auto;
    }
    #tagline {
        text-align: center;
        width: 100%;
        padding: 20px;
        margin: auto;
    }
    #side {
        width: 100%;
        height: 600px;
        margin: auto;
    }
    .col2, .col3 {
        width: 100%;
    }
    #profile {
        text-align: center;
        margin: auto;
        width: 100%;
    }
    #booking {
        flex-wrap: wrap;
        padding: 30px 0;
    }
    #schedule {
        border-right: 3px solid #86214d;
    }
    .calendar {
        display: flex;
        justify-content: center;
    }
    .calendar tbody td {
        border: 2px solid white;
        border-radius: 25px;
        padding: 5px;
        font-size: 9px;
        width: 10px;
    }
    #prices {
        border-left: 3px solid #86214d;
    }
}
@media screen and (max-width: 450px) {
    .header-nav {
        flex-wrap: wrap;
        height: auto;
    }
    #logo {
        width: 100%;
        text-align: center;
        margin:auto;
    }
    .right-nav {
        width: 100%;
        justify-content: center;
        margin:auto;
    }
    #video {
        width: 100%;
        margin: 10px;
    }
    .intro-video {
        display: none;
    }
    .col3 {
        max-width: 210px;
    }
    #link-left {
        justify-content: center;
    }
}