/*HEADER*/

body {
    font-family: 'Playfair Display', serif;
    color: #716f70;
    margin: 0;
}

p {
    font-size: 12px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
}

div {
    padding: 2px;
}

.header-nav {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 2.2cm;
    padding: 10px 0;
}

#logo {
    color: #323233;
    margin: auto;
    width: 80%;
    font-size: 36px;
    margin-left: 1cm;
    cursor: pointer;
}

#logo img {
    position: absolute;
    width: 20px;
    height: 20px;
}

.right-nav {
    display: inline-flex;
    position: relative;
    justify-content: flex-end;
    margin: auto;
    margin-right: 1cm;
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding: 10px;
}

#menu {
    padding-top:13px;
}

/*BANNER*/
#banner {
    width: 100%;
    color: #f8f7f7;
    display: flex;
    position: relative;
    justify-content: center;
}

#connect {
    background-color: #86214d;
    padding: 4cm 1cm;
    width: 15%;
}

#social-media {
    list-style: none;
    padding: 0;
}

#social-media li {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 2px solid #9a2b5c;
    border-radius: 25px;
    padding: 5px;
    margin: 20px 0;
}

#social-media li:hover {
    border: 2px solid #f8f7f7;
}


#tagline {
    background-color: #86214d;
    padding: 3cm 1cm;
    width: 30%;
}

#tagline button {
    border: none;
    background-color: #86214d;
    color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    padding: 0;
    letter-spacing: 2px;

}

#tagline button:hover {
    text-decoration: underline;
    cursor: pointer;
}

#slide-show {
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 50%;
    background-color: #f8f7f7;
    color: #e7d7de;
    align-items: flex-end;
    overflow: hidden;
}

#slide-show h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 218px;
    margin: 0;
    position: absolute;
    top: 400px;
    left: 300px;
}

/*ABOUT US*/

.container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.row {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
}

.col2 {
    width: 25%;
    margin: 100px 0;
}

#video{
    width: 400px;
    height: 250px;
    background-color:#e0dfe0;
    box-shadow: 2px 2px 10px 1px #e0dee0e3;
}

#video img {
    position: absolute;
    top: 200px;
    left: 500px;
    width: 70px;
    height: 70px;
}

#profile {
    text-align: right;
}

#signature {
    color: #86214d;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-size: 24px;
}

.intro-video {
    font-size: 100px;
    font-family: "Poppins";
    font-weight: bold;
    color: rgba(97, 97, 98, 0.102);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    position: absolute;
    left: -30px;
    top: 120px;
}
  

/*SERVICES*/

.col3 {
    padding: 20px;
    width: 25%;
}

.section-intro {
    text-align: center;
    width: 100%;
}

#booking {
    display: inline-flex;
    position: relative;
    justify-content: center;
    text-align: center;
    padding: 30px 100px;
}

.icon-2 {
    width: 50px;
    height: 50px;
    padding: 5px;
    border: 2px solid white;
}

.icon-2:hover {
    border: 2px solid #f8f7f7;
    border-radius: 50px;
}

.service-btn {
    color: #716f70;
    padding: 5px 20px;
    border: 1px solid #d7d7d7;
}

.service-btn:hover {
    color: #f8f7f7;
    background-color: #86214d;
}


/*RESPONSIVE STYLES*/

@media screen and (max-width: 800px) {
    #banner {
        flex-wrap: wrap;
    }
    #connect {
        display: inline-flex;
        position: relative;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }
    #social-media {
        display: inline-flex;
        position: relative;
        justify-content: center;
        width: 100%;
    }

    #social-media li{
         margin: auto;
    }
    #tagline {
        text-align: center;
        width: 100%;
        padding: 10px;
        margin: auto;
    }
    #slide-show {
        width: 100%;
        margin: auto;
    }
    .col2, .col3 {
        width: 100%;
    }
    #profile {
        text-align: center;
    }
    #booking {
        flex-wrap: wrap;
        padding: 30px 0;
    }
}
@media screen and (max-width: 450px) {
    .header-nav {
        flex-wrap: wrap;
        height: auto;
    }
    #logo {
        width: 100%;
        text-align: center;
        margin:auto;
    }
    .right-nav {
        width: 100%;
        justify-content: center;
        margin:auto;
    }
}